// RESET 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

// COMMON 

body{
    font-family: 'Gill Sans';
    background-color: rgb(140, 144, 148);   /*test test test */
}

.container{
    width: 75%;
    margin: 0 auto;
}
